<div class="container">
    <div class="jumbotron">
        <h1>User Profile </h1>
         
        
        <p></p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Consectetur qui error minima voluptates labore recusandae
             laborum dignissimos accusamus molestias nesciunt saepe voluptas, totam dolorum!
              Iste, placeat illo. Earum, possimus quas?</p>
    </div>
    <p>this some text</p>
    <p>this some text</p>
</div>