<div class="jumbotron text-center">
  <h2>{{title}}</h2>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-sm-3">Total register User :{{user_count}}</div>
    <div class="col-sm-3">Total  Book Availble  : {{book_count}}</div>
    <div class="col-sm-3">Total  Genres Availble:{{genre_count}}</div>
  </div>
</div>